# Web Scraping

In [1]:
from bs4 import BeautifulSoup 
import requests

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [4]:
page = requests.get(url)

In [5]:
soup = BeautifulSoup(page.text, 'html')

In [83]:
#print(soup)
soup.find('table')

In [81]:
#soup.find_all('table')[1]

In [ ]:

<table class="wikitable sortable jquery-tablesorter">
<caption>

In [12]:
table = soup.find_all('table')[1]

In [84]:
print(table)

In [23]:
world_titles = table.find_all('th')

In [46]:
#list comprehension

world_table_titles = [title.text.strip() for title in world_titles]

In [25]:
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [26]:
import pandas as pd
import numpy as np

In [36]:
df = pd.DataFrame(columns= world_table_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [85]:
overall_row_data = table.find_all('tr')
for row in overall_row_data[1:]:
     individual_row = row.find_all('td')
     cleaned_individual_row = [data.text.strip() for data in individual_row]
     length = len(df)
     df.loc[length] = cleaned_individual_row 
df.head(3)

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"

In [78]:
# df.to_csv(r'C:\Users\OneDrive\Desktop\Python tutorials\Webscraping.csv', index = False) Import df as csv file